.app-root {
    -fx-background-color: -c-bg;
}

.sidebar-container {
    -fx-background-color: -c-surface;
    -fx-border-color: -c-border;
    -fx-border-width: 0 1px 0 0;
    -fx-effect: -shadow-1;
}

.content-container {
    -fx-background-color: transparent;
}

.content-host {
    -fx-background-color: transparent;
    -fx-background-radius: 18px;
}
